body {
    font-family: sans-serif;
  }
  
  #controlPanel {
    float: left;
    padding-top: 3px;
  }
  
  .button {
    background-color: gray;
    color: white;
    border-radius: 1px;
    padding: 2px;
    text-align: center;
    margin: 9px 4px;
    cursor: pointer;
  }
  #traffic-light-yn{
    height: 55px;
    width: 20px;
    float: left;
    background-color: #333;
    transform: rotate(180deg);
    border-radius: 4px;
    margin: 3px 115px;
    padding: 2px;
  }
  #traffic-light-ys{
    height: 55px;
    width: 20px;
    float: left;
    background-color: #333;
    border-radius: 4px;
    margin: 3px 115px;
    padding: 2px;
  }
 #traffic-light-xe{
    height: 55px;
    width: 20px;
    float: left;
    transform: rotate(90deg);
    background-color: #333;
    border-radius: 4px;
    margin: 3px 50px;
    padding: 2px;
  }
  #traffic-light-xw{
    height: 55px;
    width: 20px;
    float: left;
    transform: rotate(-90deg);
    background-color: #333;
    border-radius: 4px;
    margin: 3px 50px;
    padding: 2px;
  }

  .clear {
    clear: both;
  }
  
  .bulb {
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    margin: 2.5px auto;
    transition: background 500ms;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item-inside {
    background-color: black;
    border-top-color: 1px solid white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-item-outside {
    background-color: green;
    border: 1px solid gray;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }